[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentence-transformers = "==2.2.2"
langchain = "*"
flask = "*"
pypdf = "*"
python-dotenv = "*"
pinecone = {extras = ["grpc"], version = "*"}
langchain-pinecone = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-experimental = "*"
langchain-deepseek = "*"
langchain-openrouter = "*"
pip = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.13"
